#main-window {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: grid;
    gap: 1em .1em;
    align-items: flex-start;
}

.dock-down {
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
}

.dock-side {
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
}