#header-window{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--base-color);
    background-color: var(--semi-base-color);
}

.page-title{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .5em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.page-title.active, .page-title:hover{
    background-color: var(--semi-base-color);
}

.page-title .page-title-icon{
    font-size: .8em;
    display: flex;
    align-self: flex-start;
    visibility: hidden;
}