#response-window{
    height: 200px;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    padding: .5em;
    border: 1px solid lightgray;
    width: -webkit-fill-available;
    display: grid;
    grid-template-rows: max-content 1fr;
    bottom: 0;
    left: 0;
}

.response-window-full#response-window{
    height: calc(100vh - 1.1em);
    position: absolute;
    top: 0;
}

#response-window-controls{
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: repeat(4, min-content);
    gap: 1em;
    border-bottom: 1px solid lightgray;
    padding: .3em;
}

#response-window-search{
    color: lightgray;
    border: 1px solid lightgray;
    background-color: transparent;
    height: 30px;
}

#response-window-toggle, #response-window-clear{
    color: lightgray;
    cursor: pointer;
}

#response-window-log{
    height: 100%;
    overflow: auto;
    display: grid;
    gap: 1em;
    grid-template-rows: max-content 1fr;
    align-items: flex-start;
}

#response-window-board{

}

#response-window-command{
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    column-gap: .5em;
    align-items: center;
}

#response-window-input{
    outline: unset;
    border: unset;
    background-color: transparent;
    color: white;
}

.log-item{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .3em;
}

@media(min-height: 700px){
    #response-window{
        height: 300px;
    }
}

@media(min-height: 1000px){
    #response-window{
        height: 400px;
    }

    #response-window.response-window-full{
        height: 100vh;
    }
}