#response-window {
    background-color: var(--semi-base-color);
    overflow: hidden;
    border: 1px solid var(--semi-text-color);
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    align-items: flex-start;
    bottom: 0;
    right: 0;
}

.dock-down #response-window{
    height: 240px;
    width: 100%;
}

.dock-side #response-window{
    height: 100%;
    min-width: 350px;
}

.response-window-full#response-window {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#response-window-controls {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: repeat(4, min-content);
    gap: 1em;
    border-bottom: 1px solid var(--semi-text-color);
    padding: .5em;
}

#response-window-search {
    color: var(--semi-text-color);
    border: 1px solid var(--semi-text-color);
    background-color: transparent;
    height: 30px;
}

#response-window-toggle, #response-window-clear {
    color: var(--semi-text-color);
    cursor: pointer;
}

#response-console {
    height: calc(100% - 1.1em);
    width: calc(100% - 1.1em);
    overflow: auto;
    display: grid;
    gap: 1em;
    grid-template-rows: max-content 1fr max-content;
    align-items: flex-start;
    position: relative;
    padding: .5em;
}

#response-window-command {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    column-gap: .5em;
    align-items: flex-start;
    height: 100%;
}

#response-window-input {
    outline: unset;
    border: unset;
    background-color: transparent;
    color: var(--text-color);
}

#response-window-options-pane {
    position: absolute;
    right: 0;
    background-color: var(--base-color);
    padding: 1em;
    display: grid;
    gap: .5em;
}

#section-A.response-window-options-pane-section {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: .5em;
}

#dock-options {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: .3em;
    align-items: center;
}

#dock-options .dock-options-icon {
    color: var(--semi-text-color);
    cursor: pointer;
}

#dock-options .dock-options-icon:hover, #dock-options .dock-options-icon.active {
    color: var(--text-color);
}

.log-action{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.log-result{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .3em;
    overflow-wrap: break-word;
    overflow: hidden;
}